<div id="userstory_details_box">
	<div id="userstory_details_box_header"></div>
	<div id="userstory_options">

  </div>
	<div id="userstory_details">
  	<div class="userstory_title">User story title</div>
     	<div class="userstory_description">bla bla bla</div>
  </div>
</div>

