<div class="user_story_box draggable_box" id="userstory-<%= user_story.id %>">
  <div class="transferbutton ui-corner-all"><span class="ui-icon ui-icon-transfer-e-w"></span></div>
  <%= render partial: 'user_stories/user_story_information', locals: { user_story: user_story } %>
</div>

