
<div class="user_story_box_name">
  <%= link_to user_story.name, user_story_path(user_story) %>
</div>

<div class='short_description' style="display: none">
  <%= user_story.short_description %>
  (<%= link_to "See all", user_story_path(user_story) %>)
</div>

