<h2>Edit User Story</h2>

<div class="row header_space">
  <div class="span12">
    <%= render partial: 'form', locals:   {user_story: @user_story,
                                           users:      @users,
                                           days:       @days,
                                           hours:      @hours,
                                           minutes:    @minutes,
                                           seconds:    @seconds}  %>
  </div>
  <div class="span2"></div>
</div>

<%= link_to 'Back to User Stories Overview', user_stories_path %>

