<%= form_for(@comment) do |comment_form| %>

  <div class="span11">
    <h3>Comment on User Story</h3>
    <%= comment_form.text_area :content, class: "span11", rows: 5 %>
    <%= comment_form.hidden_field :user_story_id, value: @user_story.id%>
  </div>
  <div class="span11 comment_button">
    <%= comment_form.submit class: 'btn success' %>
  </div>

<% end %>

