<td><%= button_to 'Accept', {controller: 'users', action: 'accept_user',
id: user.id }, method: :post, class: "btn success" %></td>
<td><%= button_to 'Reject', {controller: 'users', action: 'reject_user',
                  id: user.id},
                  confirm: "Are you sure you wan to reject #{user.name}?",
                  class: "btn danger" %></td>

