<br />
<table class="bordered-table zebra-striped">
  <tr>
    <th class="span6">Name</th>
    <th class="span6">Email</th>
    <th>Description</th>
    <% if type == :accept %>
      <th></th>
      <th></th>
    <% end %>
  </tr>
<% if type == :accept
  users_to_render = @unaccepted_users
else
  users_to_render = @users
end %>

<% users_to_render.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.description %></td>
    <% if type == :accept %>
      <%= render partial: 'accept_buttons', locals: { user: user} %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

