<br />
<table class="bordered-table zebra-striped">
  <tr>
    <th class="span6">Name</th>
    <th class="span6">Email</th>
    <th>Description</th>
    <% if type == :accept %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.description %></td>
    <% if type == :accept %>
      <%= render 'accept_buttons', user: user %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

