<div class="userstory_box_header">
  <div class="userstory_box_header_left"></div>
  <div class="userstory_box_header_center"><%= title %></div>
  <div class="userstory_box_header_right"></div>
</div>

