<div class="user_story_planning_box">
  <% if backlog %>
    <div class="button"><%= button_to "To Current Sprint", {controller: 'user_stories', action: 'assign_sprint', id: user_story.id}, method: "put", class: 'btn success' %></div>
  <% else %>
    <div class="button"><%= button_to "To Backlog", {controller: 'user_stories', action: 'unassign_sprint', id: user_story.id}, method: "put", class: 'btn success' %></div>
  <% end %>

  <%= user_story.name %>
</div>

