<div class="user_story_box">
  <% if user_story.status == "active" %>
    <div class="button"><%= button_to "Complete", {controller: 'user_stories', action: 'complete', id: user_story.id}, class: 'btn success' %></div>
  <% end %>
  <% if user_story.status == "inactive" %>
    <div class="button"><%= button_to "Start", {controller: 'user_stories', action: 'start', id: user_story.id, user_id: current_user}, class: 'btn success' %></div>
  <% end %>
  <% if user_story.status == "completed" %>
    <div class="button"><%= button_to "Re-Start", {controller: 'user_stories', action: 'start', id: user_story.id, user_id: current_user}, class: 'btn success' %></div>
  <% end %>

  <%= user_story.name %>
</div>

