<div id="userstory_info_box">
  <%= render 'infobox_close_button'%>
  <div id="tabs">
    <ul>
    <% user_stories.each_with_index do |user_story, i| %>
       <li><%= link_to user_story.short_name, '#tabs-'+(i+1).to_s %></li>
    <% end %>
    </ul>
    <% user_stories.each_with_index do |user_story, i| %>
       <div id="tabs-<%= (i+1).to_s%>">
         <%= render partial: 'current_user_story', locals: { user_story: user_story } %>
       </div>
    <% end %>
  </div>
</div>

