<div id="close-userstory_box">
  <span class="ui-dialog-titlebar-close ui-corner-all" href="#" role="button">
    <span class="ui-icon ui-icon-minus ui-state-hover ui-corner-all">close</span>
  </span>
</div>

