<% users.each do |user| %>
  <li class="dropdown_entry" value="<%=user.id%>"><%=mini_gravatar_for user%> <%= user.name %>
    <% if user_story.users.include? user %>
      <span class='ui-icon ui-icon-check'/>
    <% end %>
  </li>
<% end %>

