<% partners.each do |partner| %>
  <li class="dropdown_entry" value="<%=partner.id%>"><%=mini_gravatar_for partner%> <%= partner.name %>
    <% if user_story.users.include? partner %>
      <span class='ui-icon ui-icon-check'/>
    <% end %>
  </li>
<% end %>

