<h2>New sprint</h2>

<div class="row header_space">
  <div class="span12">
    <%= render 'form' %>
  </div>
  <div class="span2"></div>
</div>

<%= link_to 'Back to Sprint Overview', sprints_path %>

