<h2>Edit Project '<%= @project.title %>'</h2>

<div class="row header_space">
  <div class="span12">
    <%= render 'form', project: @project %>
  </div>
  <div class="span2"></div>
</div>

<%= link_to 'Back to Project', @project %>

