/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require vendor
*/
#main {
  position:relative;
}

.header-space {
  height:40px;
  margin-bottom:30px;
}
.login legend{
  padding:20px;
}
div .actions {
  margin-top:40px;
}
.current_account {
  color:#AAA;
  padding:5px;
  display:inline;
}
form {
  margin-bottom:3px!important;
}
.btn_margin_top {
  margin-top:20px;
}

h1 a {
  color:#333;
}

.new_user_label {
  position:relative;
  top:8px;
  left:-4px;
}
.current_account img {
  position:relative;
  top:5px;
  left:-3px;
}

.management_options {
  margin:20px 0px;
}

.management_options .btn {
  float:left;
  margin-right:10px;
}

#project_container {
  padding:25px;
  background-color:#efefef;
  width:400px;
  margin-bottom:25px;
}
#project_description {
  margin:15px 0px;
  font-style:italic;
}

