// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#box_in_progress, #box_current_sprint, #box_backlog {
  height: 310px;
  width: 450px;
  background-image:url('/assets/box_border_background.gif');
  background-position:left;
  background-repeat:repeat-y;
}
#box_in_progress .user_stories_container,
#box_current_sprint .user_stories_container,
#box_backlog .user_stories_container {
  clear:both;
  width:420px;
  margin-left:10px;
  margin-top:10px;
  padding-right:15px;
}
.new_user_label {
  position:relative;
  top:8px;
  left:-4px;
}
.current_account img {
  position:relative;
  top:5px;
  left:-3px;
}
.userstory_box_header {
  height:40px;
  color:#FFF;
  font-size:16px;
  text-transform:uppercase;
  background-image:url('/assets/box_header_background.gif');
  background-position:left;
  background-repeat:repeat-x;
  line-height:38px;
  position:relative;
}
.userstory_box_header_left, .userstory_box_header_center, .userstory_box_header_right  {
  position:absolute;
  height:40px;
  top:0px;
}
.userstory_box_header_left {
  width:10px;
  left:0px;
  background-image:url('/assets/box_header_left.gif');
  background-position:left;
  background-repeat:no-repeat;
}
.userstory_box_header_center {
  width:350px;
  left:25px;
}
.userstory_box_header_right {
  width:10px;
  right:0px;
  background-image:url('/assets/box_header_right.gif');
  background-position:right;
  background-repeat:no-repeat;
}
.userstory_box_footer {
  height:10px;
  background-image:url('/assets/box_footer_bg.gif');
  background-position:left;
  background-repeat:repeat-x;
  position:relative;
}
.userstory_box_footer_left, .userstory_box_footer_right {
  background-position:right;
  background-repeat:no-repeat;
  position:absolute;
  top:0px;
  width:10px;
  height:10px;
}
.userstory_box_footer_left { left:0px; background-image:url('/assets/box_footer_left.gif'); }
.userstory_box_footer_right { right:0px; background-image:url('/assets/box_footer_right.gif'); }

#userstory_details_box {
	position:fixed;
	width:920px;
	height:100px;
	background-color:#efefef;
	bottom:0px;
}
.start_sprint {
  padding-top:50px;
  font-size:16px;
  text-align:center;
}
.stop_sprint_button {
  position:absolute;
  top:75px;
  right:650px;
}

#userstory_details_box, #userstory_new_box  {
	position:fixed;
	width:920px;
	height:150px;
	background-color:#fff;
	bottom:0px;
	z-index:1;
}

.current_user_story_content {
  height:100px;
}

#userstory_new_box {
  height:150px;

}
#userstory_new_box_content {
  padding:10px;
  height:90px;
  position:relative;
}

#userstory_button {
  position:absolute;
  right:15px;
  bottom:15px;
}
#userstory_new_box_column1, #userstory_new_box_column2, #userstory_new_box_column3 {
  position:absolute;
}
#userstory_new_box_column2 {
  width:210px;
  left:250px;
  top:8px;
}
#userstory_new_box_column3 {
  left:510px;
  top:8px;
}
#userstory_new_box textarea {
  height:75px;
  width:220px;
}
#userstory_name {
  margin:10px 0px;
  width:200px;
}
#close-userstory_box {
  position:absolute;
  top:12px;
  right:20px;
  z-index:2;
}
.user_story_box_info {
  height:70px;
}
.span70 {
  width:70px;
}

.user_story_box_links {
  padding-top:7px;
}
.story_status {
  margin-bottom:8px;
}

.user_story_box_description {
  width:450px;
  height:45px;
  padding-right:15px;
}

.user_story_box_users {
  margin-top:10px;
}

.user_story_box_gravatar {
  width:30px;
  height:30px;
  float:left;
  margin-right:5px;
}

