// Place all the styles related to the UserStories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_story_box {
  background-color: #efefef;
  padding:7px;
  margin-bottom:5px;
  position:relative;
  min-height:65px;
  width:400px;
}

.draggable_box {
  cursor:move;
}
#box_backlog .user_story_planning_box_content {
  position:absolute;
  top:5px;
  left:35px;
}


.user_story_box_options {
  position:absolute;
  right:5px;
  bottom:7px;
}
.user_story_box_options a {
  text-decoration:none;
}

.pause_button, .continue_button {
  width:28px;
  padding:5px;
  float:left;
  margin-right:5px;
}

.complete_button, .restart_button {
  width:100px;
  padding:5px;
}
.start_button{
  width:80px;
  padding:5px;
}
.complete_button .ui-icon, .restart_button .ui-icon, .start_button .ui-icon{
  float:left;
}

.short_description_link .ui-icon {
  float:left;
  margin-right:5px;
  margin-top:2px;
}

.user_story_box_users {
  position:absolute;
  top:10px;
  right:2px;
  text-align:right;
}

.user_story_box_name {
  font-weight:bold;
  margin-bottom:8px;
  width:300px;
}
.user_story_box_name a {
  color:#444;
}
.transferbutton {
  width:16px;
  height:16px;
  background-color:#fff;
  border:1px solid #fff;
  position:absolute;
  top:25px;
  cursor:pointer;
}
#box_current_sprint .transferbutton {
  right:10px;
}
.short_description {
  width:300px;
  margin-bottom:30px;
}
.expand_link {
  position:absolute;
  left:10px;
  bottom:10px;
}

// User Story Show Page
#user_story_container {
  padding:20px;
  margin:20px 0px;
  background-color:#efefef;
  position:relative;
}
#user_story_details p {
  margin-top:10px;
  margin-bottom:5px;
  font-size:14px;
  line-height:20px;
}

#user_story_info {
  padding-top:10px;
}

#user_story_userlist {
  position:absolute;
  top:20px;
  right:20px;
  text-align:right;
}

ul.userlist {

}
ul.userlist li {
  list-style:none;
  line-height:20px;
  padding-bottom:5px;
}
ul.userlist img {
  margin-right:5px;
  float:left;
}
.user_story_box_gravatar {
  width:20px;
  height:20px;
  margin-right:5px;
  float:left;
}

