// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description {
  height: 150px
}
.header_space {
  margin-top: 25px
}
label .bold {
  font-weight:bold
}
.user_box {
  background-color:#efefef;
  padding:25px;
  margin-bottom:25px;
}

.user_details {
  margin-bottom:20px;
  float:right;
}
.gravatar_image {
  float:left;
}

#user_options {
  margin:20px 0px;
}

#user_options .btn {
  float:left;
  margin-right:10px;
}

