// Place all the styles related to the UserStories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_story_box {
  background-color: #efefef;
  padding:7px;
  margin-bottom:5px;
  position:relative;
  min-height:50px;
}

.user_story_box .startbutton,
.user_story_box .pausebutton,
.user_story_box .completebutton,
.user_story_box .restartbutton,
.user_story_box .button {
  position:absolute;
  top:10px;
  right:10px;
  display:block;
}

