// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description {
  height: 150px
}
.header_space {
  margin-top: 25px
}
label .bold {
  font-weight:bold
}

