// Place all the styles related to the UserStories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_story_box {
  background-color: #efefef;
  padding:7px;
  margin-bottom:5px;
  position:relative;
  min-height:50px;
}

.user_story_box .startbutton,
.user_story_box .completebutton,
.user_story_box .restartbutton,
.user_story_box .continuebutton,
.user_story_box .button {
  position:absolute;
  top:10px;
  right:10px;
  display:block;
}

// TODO: Basti check this and eventually make it more beautiful
// besides what happens with long user story names?
.user_story_box .pausebutton {
  position:absolute;
  top:10px;
  right:110px;
  display:block;
}

// User Story Show Page
#user_story_container {
  padding:20px;
  margin:20px 0px;
  background-color:#efefef;
  position:relative;
}
#user_story_details p {
  margin-top:10px;
  margin-bottom:5px;
  font-size:14px;
  line-height:20px;
}

#user_story_info {
  padding-top:10px;
}

#user_story_userlist {
  position:absolute;
  top:20px;
  right:20px;
  text-align:right;
}
#user_story_options {
  margin:20px 0px;
}
#user_story_options .btn {
  float:left;
  margin-right:10px;
}
ul.userlist {

}
ul.userlist li {
  list-style:none;
  line-height:20px;
  padding-bottom:5px;
}
ul.userlist img {
  margin-right:5px;
  float:left;
}

